### ignore tout ce qui ne concerne pas le starter pack ou l'architecture

agentic-system/*

api/*
!api/fast-api/
api/fast-api/*
!api/fast-api/ARCHITECTURE.md
!api/fast-api/README.md

!api/api-platform/
api/api-platform/*
!api/api-platform/ARCHITECTURE.md
!api/api-platform/README.md

dev-book/*

digital-management-studio/*
!digital-management-studio/back-office-nuxt/
digital-management-studio/back-office-nuxt/*
!digital-management-studio/back-office-nuxt/**/*.md

# digital-management-studio/back-office-nuxt/app/*
!digital-management-studio/back-office-nuxt/app/
!digital-management-studio/back-office-nuxt/app/**/*.md

!digital-management-studio/back-office-nuxt/server/
!digital-management-studio/back-office-nuxt/server/**/*.md

!digital-management-studio/back-office-nuxt/shared/
!digital-management-studio/back-office-nuxt/shared/**/*.md

docs/*
lab/

modern-web-apps/*
!modern-web-apps/webapp-nuxt/
modern-web-apps/webapp-nuxt/*
!modern-web-apps/webapp-nuxt/ARCHITECTURE.md
!modern-web-apps/webapp-nuxt/README.md

nginx/*
schema/*
scripts/*
tools/*

unshared/

/*.md
!**/ARCHITECTURE.md
!**/README.md
#!**/SETUP.md
!**/SILENCE.md
!**/.gitignore